@charset "UTF-8";

:root{
    --cor1:#D196D9;
    --cor2:#B98ABF;
    --cor3:#664A8C;
    --cor4:#0E0726;
    --cor5:#1a10407c;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    width: 100vw;
}

body{
    background: var(--cor5) url('../imagens/fundo.jpg') no-repeat fixed;
    color: white;
    background-size: cover;
}
main{
    height: 100vh;
    width: 100vw;
}

section#login{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 350px;
    background-color: var(--cor4);
    border-radius: 20px;
    overflow: hidden;
}

div{
    text-align: center;
}

div#imagem-login{
    display: block;
    background: var(--cor1) url('../imagens/section-celular.jpg') center no-repeat fixed;
    background-size: cover;
    height:200px;
}

div#formulario{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 600px;
    background: var(--cor4);
    display: block; 
}

h1{
    font-size: 2em;
    padding-top: 20px;
}

p{
    display: block;
    margin: auto;
    padding-bottom: 10px;
    font-size: 1.1em;
}
form{
    background-color: var(--cor1);

}

input {
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 200px;
}

#submit{
    width: 202px;
    background-color: var(--cor2);
}

#submit:hover{
    background-color:#d768e5a4;
}