@charset "UTF-8";

:root{
    --cor1:#D196D9;
    --cor2:#B98ABF;
    --cor3:#664A8C;
    --cor4:#0E0726;
    --cor5:#1a10407c;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    width: 100vw;
}

body{
    background: var(--cor5) url('../imagens/fundo.jpg') no-repeat fixed;
    color: white;
    background-size: cover;
}

main{
    height: 100vh;
    width: 100vw;
}

section#login{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 350px;
    background-color: var(--cor5);
    border-radius: 20px;
    overflow: hidden;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#imagem-login{
    display: block;
    background:url('../imagens/section-celular.jpg') center no-repeat fixed;
    background-size: cover;
    height:200px;
}

div#formulario{
    display: block; 
    height:600px;   
}

.formulario{
    text-align: center;
    padding-top: 10px;
}

p{
    margin: 5px;
    padding: 5px;
}

form > div.campo{
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > i{
    color:var(--cor1);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input{
    font-size: 1em;
    width: calc(90% - 44px);
    transform: translateY(-12px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
}

form label{
    display: none;
}

form > input, a{
    display: block;
    margin: auto;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 90%;
    height: 40px;
    background-color: var(--cor2);
    color: var(--cor3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: var(--cor3);
    color: white;
}

form > a.esqueci-senha{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 90%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: var(--cor2);
   
    border-radius: 5px;
    text-decoration: none;
    color: var(--cor3);
    cursor: pointer;
}

form > a.esqueci-senha:hover{
    background-color: var(--cor3);
    color: white;
}

form > a.esqueci-senha > i{
    font-size: 0.8em;
}