@charset "UTF-8";

:root{
    --cor1:#D196D9;
    --cor2:#B98ABF;
    --cor3:#664A8C;
    --cor4:#0E0726;
    --cor5:#1a10407c;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    width: 100vw;
}

body{
    background: var(--cor5) url('../imagens/fundo.jpg') no-repeat fixed;
    color: white;
    background-size: cover;
}

main{
    height: 100vh;
    width: 100vw;
}

section#login{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 350px;
    background-color: var(--cor5);
    border-radius: 20px;
    overflow: hidden;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#imagem-login{
    display: block;
    background:url('../imagens/section-celular.jpg') center no-repeat fixed;
    background-size: cover;
    height:200px;
}

div#formulario{
    display: block; 
    height:600px;   
}

.formulario{
    text-align: center;
    padding-top: 10px;
}

p{
    margin: 5px;
    padding: 5px;
}

form > i{
    margin-top: 8px;
}

input{
    width: 250px;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

label{
    display: none;
}

.entrada-dados{
    background-color: var(--cor2);
    color:#4359a5;
    cursor: pointer;
}

.entrada-dados:hover{
    background-color: var(--cor3);
    color: white;
}

a{
    display: block;
    margin: 5px auto;
    text-decoration: none;
    color:#4359a5;
    background-color: var(--cor2);
    text-align: center;
    padding: 2px;
    width: 250px;
    border:2px 2px 2px solid black ;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

.esqueci-senha:hover{
    background-color: var(--cor3);
    color: white;
}
