@charset "UTF-8";

:root{
    --cor1:#D196D9;
    --cor2:#B98ABF;
    --cor3:#664A8C;
    --cor4:#0E0726;
    --cor5:#1a10407c;
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    width: 100vw;
}

body{
    background: var(--cor5) url('../imagens/fundo.jpg') no-repeat fixed;
    color: white;
    background-size: cover;
}

section{
    position: relative;
    top: 20vh;
    height: 400px;
    width: 100vw;
}

div{
    position: relative;
    top: 9vh;
}

fieldset{
    margin: auto;
    padding: 0px 20px 0px 20xp;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.334);
    border-radius: 20px;
    background: var(--cor5);
}

legend{
    font-size: 2em;
}

p{
    display: block;
    margin: auto;
    padding: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 200px;
}

#submit{
    width: 222px;
    background-color: var(--cor2);
}

#submit:hover{
    background-color:#d768e5a4;
}